.explorer {
    margin-left: 25%;
}

#closeup1 {
    background-image: url(../../assets/hands/manos\ closeup\ 1.png);
    background-size: 120%;
    background-position: 50% 70%;
}

#closeup2 {
    background-image: url(../../assets/hands/manos\ closeup\ 2.png);
    background-size: 120%;
    background-position: 50% 70%;
}

#closeup3 {
    background-image: url(../../assets/hands/manos\ closeup\ 3.png);
    background-size: 120%;
    background-position: 50% 70%;
}

#closeup4 {
    width: 25%;
    height: 250px;
    margin-left: 40%;
    margin-top: 20px;
    background-image: url(../../assets/hands/manos\ closeup\ 4.png);
    background-size: 120%;
    background-position: 50% 70%;
}

.video {
    width: 90%;
    margin-left: 5%;
    height: auto;
}

