* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.background {
    width: 100vw;
    height: auto;
    margin: 0;
}

.color{
    background-color: blue;
}

area:hover{
    cursor: pointer;
}

.title img,.obscure{
    position:absolute;
}

.title img{
    z-index: 4;
    width: 300px;
    height: 300px;
    top: 100px;
    right: 5%;
}

.obscure {
    z-index: 5;
    width: 250px;
    height: 200px;
    top: 150px;
    right: 6.7%;
}

.obscure:hover{
    cursor: pointer;
    background-color: rgba(0,0,0, 0.32);
}